#map { height: 180px; }

.parentMapContainer {
    height: 180px;
    width: 200px;
    position: relative;
}

.leaflet-container {
    width: 100px;
    height: 100px;
}

.mapWrapper {
    position: relative;
}

.parentSearchWrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    padding: 20px;
    z-index: 10000;
    border-radius: 15px;
    border: 2px solid rgba(60, 60, 60, 0.5) ;
}

.legends {
    position: absolute;
     /* Adjust this value as needed */
    left: 10px; /* Adjust this value as needed */
    z-index: 1000;
    bottom: 50vh;
}