table {
    border-collapse: collapse;
    border: 2px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead{
    background-color: rgb(237 237 237);
}
th,
td {
    border: 1px solid;
    padding: 8px 10px;
}

tbody{
    text-align: center;
}
